doctype html
html
  head
    title User Detail
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet")
  body
    div(class="container")
      h1 User Detail
      p
        strong Username:
        span= logged_user.username
      p
        strong Email:
        span= logged_user.email

      br
      button(onclick="window.location.href='/update_user_email'") Update Email
